body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
#container {
    height: 500px;
    overflow: hidden;
    width: 500px;
}
img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform-origin: center center;
    transition: transform 0.3s;
    cursor: pointer;
}